.container {
    flex-grow: 1;
    border: 1px solid #85878D;
    width: 100%;
    border-radius: 16px !important;
    margin-bottom: 24px;
    overflow: hidden;
}

.title{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.button.button{
    border-radius: 50%;
    min-width: 0;
    height: 40px;
    width: 40px;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    /*max-height: 500px;*/
    flex: 1 0 auto;
    overflow-y: scroll;
}

.emptySectionPlaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.catalogArrowIcon{
    animation: bounceRight 1s ease-in-out infinite;
}

@keyframes bounceRight {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

