# Change localhost to host.docker.internal
REACT_APP_KEYCLOAK_URL=http://host.docker.internal:8080/realms/formula/protocol/openid-connect/auth?client_id=engine&response_type=code&scope=openid+profile

# Keep this as localhost (The browser just needs to reach the container)
REACT_APP_API_URL=http://host.docker.internal:3000/api