# API base URL (used by axios)
REACT_APP_API_URL=http://localhost:3000/api

# Keycloak authorization endpoint
# redirect_uri is appended dynamically by Login.tsx
REACT_APP_KEYCLOAK_URL=https://keycloak-formula-production.up.railway.app/realms/formula/protocol/openid-connect/auth?client_id=engine&response_type=code&scope=openid+profile

REACT_APP_SUPPORT_CONTACT_URL=https://www.tiktok.com/@teddy_perry/video/7454737254179671318
REACT_APP_SUPPORT_TICKET_URL="https://www.google.com/search?sca_esv=30f47fff52a37c75&sxsrf=APpeQnttfZZhnH-SrCcx9DpnQrzUy31pAg:1782992538573&udm=7&fbs=ABfTbFVyMZGZf1hfvX9uKjN_-G8cxpBkeIeqYwoCbfNVc4vKE7plZzta63Pe5DpJ3XFR9XzI_yj6fb6bfPt1x_5u3nRcG7tR9jg4Omd7-UnDuaw5i-FzhxdAoJWFXatAvyuyBY-i00XHjzgJ9rxDh2CcW3-OMNREusIqOLiUhHojRnGEOAQqw7CdF9hb6SrDDBeTTLOhUO-ppfCh_hrYMl--5bXZhSV_7w&q=never+gonna+give+you+up&sa=X&sqi=2&ved=2ahUKEwjq_pfn9LOVAxUxWUEAHSmSAngQtKgLegQIGxAB&biw=1710&bih=951&dpr=2#fpstate=ive&vld=cid:023b88ac,vid:5SZYz7lZRRI,st:0"