.response-page {
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow-y: auto !important;
  display: flex;
  flex-direction: column;
  .MuiContainer-root {
    padding: 2rem 5rem;
    min-height: 100%;
    border-radius: 0;
  }
  .input-wrapper {
    align-items: start;
    min-height: 93px;
    .MuiFormControl-root {
      width: 100%;
      textarea {
        max-height: 120px !important;
        overflow-y: auto !important;
      }
    }
  }
}
