.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline-start: 80px;
}

.groupContainer {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*gap: 10px;*/
    /*padding: 14px;*/
    border-radius: 18px;
    /*border: 2px #d8dbdd solid;*/
    overflow: hidden;
    border: 2px solid rgba(84, 119, 152, 0.32);
}

.groupTitle {
    font-size: 20px;
    /*color: #006fdc;*/
    background: white;
    /*border-top-right-radius: 32px;*/
    /*border-top-left-radius: 32px;*/
    /*border: 2px solid rgba(84, 119, 152, 0.32);*/
    /*border-bottom: 2px solid white;*/
    padding: 6px 0;
    /*width: 25%;*/
    width: 100%;
    text-align: center;
    z-index: 20;
    /*margin-block-end: -2px;*/
}

.conditionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    /*background: white;*/
    /*border-radius: 16px;*/
    padding: 16px;
    /*border: 2px solid rgba(84, 119, 152, 0.32);*/
    background: rgb(240, 244, 246);
    padding-inline-start: 80px;
}

.conditionContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 #1976D21A;
}

.groupOperatorButtonGroup {
    border-radius: 24px !important;
}

.conditionOperatorButtonGroup {
    position: absolute;
    /*top: 50%;*/
    transform: translate(130%, -50%);
    border-radius: 24px !important;
}

.operatorButton {
    width: 50px;
    height: 30px;
}