.dragOverlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 20px 0 #1976D21A;
    width: 70px;
    border-radius: 8px;
    padding: 0 4px;
    box-sizing: border-box;
    cursor: grabbing;
}

.overlayAdd {
    color: green;
    height: 40px;
    width: 40px;
    margin-inline-start: -8px;
    margin-inline-end: 5px;
    border-radius: 50%;
    border: 2px solid green;
}

.overlayItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
}

.fadeOut {
    animation: fade-out 250ms ease-in forwards;
}

@keyframes fade-out {
    50%, 100% {
        opacity: 0;
    }
}