.itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 24px;
    box-shadow: 0 4px 20px 0 #1976D21A;
    border: 2px lightblue solid;
    border-radius: 16px;
}

.itemActions {
    display: flex;
}

.actionButton.actionButton {
    border-radius: 50%;
    min-width: 0;
    height: 45px;
    width: 45px;
}