.wrapper{
    padding-inline-start: 25%;
}

.dragOverlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    gap:12px;
    box-shadow: 0 4px 20px 0 #1976D21A;
    width: fit-content;
    height: 50px;
    padding: 0 16px;
    border-radius: 16px;
    cursor: grabbing;
}

.overlayAdd {
    color: #3C9CFF;
    height: 40px;
    margin-inline-start: -1px;
    border-radius: 50%;
    border: 2px solid #3C9CFF;
}

.overlayItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: -1px;
    height: 40px;
    color: #3C9CFF;
}