@import "./utils/variables.scss";
// toast notification text in rtl
.Toastify__toast-body > div:last-child {
  direction: rtl;
}

.MuiTooltip-tooltip {
  direction: rtl !important;
  font-size: 1rem !important;
  &.font-lg {
    font-size: x-large !important;
  }
}