.dragOverlay{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    height: 45px;
    width: fit-content;
    cursor: grabbing;
    box-shadow: 0 4px 10px 0 #1976D21A;
}

.dragHandle{
    border-radius: 16px;
    height: 45px;
    width: 14px;
    border: 3px solid white;
    background-color: #dee8f1;
    margin-inline-start: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.title{
    display: flex;
    align-items: center;
    padding: 10px 32px;
    gap: 8px;
    color: #85878D;
}